<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Verdikt</title>

    <script>
        // переменная, в которой хранится выбранное математическое действие
        var op;

        // функция расчёта
        function func() {
            // переменная для результата
            var result;
            // получаем первое и второе число
            var num1 = Number(document.getElementById("num1").value);
            var num2 = Number(document.getElementById("num2").value);
            // смотрим, что было в переменной с действием, и действуем исходя из этого
            switch (op) {
                case '+':
                    result = num1 + num2;
                    break;
                case '-':
                    result = num1 - num2;
                    break;
                case '*':
                    result = num1 * num2;
                    break;
                case '/':
                    result = num1 / num2;
                    break;
            }
            document.getElementById("result").innerHTML = result;

        }
    </script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Вердикт</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Пользователь
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                        <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Калькулятор</a>
                        <div class="modal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Калькулятор</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input id="num1" />

                                        <!-- блок с кнопками -->
                                        <div id="operator_btns">
                                            <button id="plus" onclick="op='+'">+</button>
                                            <button id="minus" onclick="op='-'">-</button>
                                            <button id="times" onclick="op='*'">x</button>
                                            <button id="divide" onclick="op='/'">:</button>
                                        </div>

                                        <!-- поле ввода второго числа -->
                                        <input id="num2" />
                                        <br>

                                        <!-- кнопка для рассчётов -->
                                        <button onclick="func()">Посчитать</button>

                                        <p id="result"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Справка</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<style>
    .center {
        background: white;
        max-width: 1000px;
        min-height: 100vh;
        margin-left: 15%;
        margin-right: 15%;
    }

    body {
        background: #E6E6E6;
        margin: 0;
        padding: 0;
    }
</style>

<div class="center" style="background-color: aliceblue!important;">

    <div class="container" style="padding: 5px; width:70%;height: 80vh">
        <p></p>
        <div class="numberquestion" style="text-align: center;">
            <div class="shadow p-3 mb-5 bg-body rounded" th:text="'Вопрос ' + ${nextQuestionId - 1}"></div>
        </div>

        <style>
            .form-check{
                height: 40px;
            }
        </style>


        <div class="shadow p-3 mb-5 bg-body rounded" style="background-color: white; min-height: 35vh">
            <div th:text="${text}">

            </div>
        </div>


        <div class="questansw" th:unless="${variant}" style="height: 470px">
            <div class="shadow p-3 mb-5 bg-body rounded" style="height: 470px;">
                <div class="input-group mb-3" style="position: relative; top: 90%">
                    <span class="input-group-text" id="inputGroup-sizing-default">Ответ</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>

        <div class="questans" th:if="${variant}">
            <div class="form-check" th:each="answer : ${answers}">
                <input type="radio" class="btn-check" name="options" th:id="${answer.id}" autocomplete="off">
                <label class="btn btn-outline-secondary" th:for="${answer.id}" th:text="${answer.answerCont}" style="width: 100%; text-align: left;"></label>
            </div>
        </div>


        <p></p>
        <a type="button" th:href="'/test/' + ${testId} + '/run/' + ${nextQuestionId}" class="btn btn-secondary" style="position: relative; top: 5%; left: 35%">Следующий вопрос</a>

    </div>
</div>
</body>
</html>